@charset "ISO-8859-1";

header{
	display: block;
	font-size: 19px;
	background-color:#7EFFD4;
	left:0px;
    width: 100%;
	color: black;
	min-height: 70px;
	position: absolute;
	opacity: 100%;
	z-index: 1500;
	font-family: calibri;
	font-weight:400;
}

footer{
	display:block;
    width: 100%; 
    font-size: 18px;
    color: white;
/*     top: 3340px; */
/*     bottom:0; */
    left:0px;
    bottom:0px;
    z-index:600;
	background-color:#7EFFD4;
	opacity:100%;
    position: absolute;
    overflow:hidden;
    opacity: 100%;
    height: 60px;
}

#about{
	display: block;	
	font-size: 20px;
	background-color: grey;
	text-align: center;
	position:relative;
	top:200px;
	color: black;
	height: 400px;
	z-index: 1000;
}

#services{
	display: block;	
	font-size: 20px;
	top:300px;
	background-color: grey;
	text-align:center;
	position:relative;
	color: black;
	height: 400px;
	z-index: 1000;
}

#contactus{
	display: block;	
	font-size: 20px;
	background-color: grey;
	text-align:center;
	position:relative;
	top:400px;
	color: black;
	height: 450px;
	z-index: 1000;
}

.logoprop{
	height: 100px;
	width: 200px;
}

#headerLink{
	display:inline-block;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

#header-links{
	display: inline-block;
	text-align:right;
	width:55%;
	position: relative; 
}

#leftHeader{
	display: inline-block;
	text-align:left;
	position: relative; 
	width: 40%;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 50%;
}

#footerLinks{
	display: block;
	text-align:center;
	top: 20px;
	position: relative;
}

#footerlink{
	display:inline-block;
	position: relative;
	padding-left: 30px;
	padding-right: 30px; 
}

body{
    display: block;
    font-size: 20px;
	background-color: #181818;
	color: white;
	z-index: 10000;
	min-height:100vh;
	font-family: calibri;
	max-height:360vh;
	margin: 0;
    width: 100%;
    position: relative;
    padding: 0;
}

html{
	scroll-behavior: smooth;
}

.content{
	display:block;
	position: relative;
	margin: 0 auto;
  	width: 90%;
	opacity: 100%;
	background-color: transparent;  
}

.button{
	display: block;
	position: relative;
	height:80px;
	text-align:center;
	width:100%;
	margin:0 auto;
}

.button-student{
	display:inline-block;
	position:relative;
	font-size: 20px;
	color:white;
	height: 80px;
	width: 250px;
	border: none;
	background: #0F2027;  
	background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
	background: linear-gradient(#BDB76B, #BDB76B),linear-gradient(to right, black, #203A43, black); 	
  	background-size: 0 5px, auto;
  	background-repeat: no-repeat;
  	background-position: center bottom;
  	transition: all .2s ease-out;
  	z-index: 200;
}

.button-student:hover {
  background-size: 100% 5px, auto;
  cursor: pointer;
}

.button-instructor{
	display:inline-block;
	position:relative;
	color:black;
	font-size: 20px;
	height: 80px;
	width:250px;
	border: none;
	z-index:200;
	background: #603813;  
	background: -webkit-linear-gradient(to right, #b29f94, #603813);  
	background: linear-gradient(black, black),linear-gradient(to right, #b29f94, #603813); 
	background-size: 0 5px, auto;
  	background-repeat: no-repeat;
  	background-position: center bottom;
  	transition: all .2s ease-out;
}

.button-instructor:hover {
  background-size: 100% 5px, auto;
  cursor: pointer;
}

/* #left{ */
/* 	display: block; */
/* 	left: 30px;	 */
/* 	top: 120px; */
/* 	position: fixed; */
/* } */

/* #searchbox{ */
/* 		position:absolute; */
/* 		display:inline-block; */
/* 		width:400px; */
/* 		left:20px; */
/* 		height: 30px; */
/* 		font-size: 16px; */
/* 		border: 0.5px transparent solid; */
/* 		border-radius: 20px; */
/* 		padding-left: 15px; */
/* } */

/* #button{ */
	
/* 	display: inline-block; */
/* 	position:absolute; */
/* 	width: 80px; */
/* 	left: 460px; */
/* 	height: 35px; */
/* 	color: white; */
/* 	border:none; */
/* 	border-radius:20px; */
/* 	background: #603813;   */
/* 	background: -webkit-linear-gradient(to right, #b29f94, #603813);   */
/* 	background: linear-gradient(black, black),linear-gradient(to right, #b29f94, #603813);  */
/*   	background-size: 0 3px, auto; */
/*   	background-repeat: no-repeat; */
/*   	background-position: center bottom; */
/*   	transition: all .2s ease-out; */
/* } */



/* #button:hover { */
/*   background-size: 100% 3px, auto; */
/*   cursor: pointer; */
/* } */

/* #shops{ */
/* 	display: block; */
/* 	width: 500px; */
/* 	height:440px; */
/* 	position: absolute; */
/* 	top: 60px; */
/* 	left: 20px; */
/* 	overflow-y: scroll; */
/* 	overflow-x: hidden; */
/* } */

/* #barbers{ */
/* 	display: block; */
/* 	width: 1275px; */
/* 	height:520px; */
/* 	position: absolute; */
/* 	top: 100px; */
/* 	left: 90px; */
/* 	overflow-y: scroll; */
/* } */

/* #barbera{ */
	
/* 	color:white; */
/* 	display: inline-block; */
/* 	width: 350px; */
/* 	height:200px; */
/* 	background-image: radial-gradient( circle farthest-corner at 47.4% 55%,  black 50%, transparent 80% ); */
/* 	margin: 12px; */
/* } */

/* #shop{ */

/* 	display: block; */
/* 	width: 400px; */
/* 	height:200px; */
/* 	background-image: radial-gradient( circle farthest-corner at 47.4% 55%,  black 50%, transparent 80% ); */
/* 	padding: 10px; */
/* } */
	
/* #shopname{ */
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	width: 400px; */
/* 	text-align:center; */
/* 	padding-top:10px; */
/* 	font-size: 25px; */
/* 	font-style: bold; */
/* 	font-variant: small-caps; */
/* } */

/* #barbername{ */
/* 	display:  inline-block; */
/* 	position: absolute; */
/* 	width: 180px; */
/* 	text-align:left; */
/* 	padding-top:2px; */
/* 	font-size: 25px; */
/* 	font-style: bold; */
/* 	font-variant: small-caps; */
/* } */

/* #gender{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	width: 400px; */
/* 	text-align:left; */
/* 	padding-top:100px; */
/* 	font-size: 19px; */
/* } */

/* #category{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	width: 400px; */
/* 	text-align:left; */
/* 	padding-top:130px; */
/* 	font-size: 19px; */
/* } */

/* #profilepic{ */
/* 	height: 180px; */
/* 	width:180px; */
/* 	position: absolute; */
/* 	display: inline-block; */
/* 	padding-left: 180px; */
/* } */

/* #propic{ */
/* 	height: 160px; */
/* 	width:165px; */
/* 	border-radius: 10%; */
/* } */


/* #rating{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	width: 400px; */
/* 	text-align:left; */
/* 	padding-top:140px; */
/* 	font-size: 19px; */
/* } */

/* #shopaddress{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	width: 400px; */
/* 	text-align:center; */
/* 	padding-top:40px; */
/* 	font-size: 19px; */
/* } */

/* #shoptime{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	width: 400px; */
/* 	text-align:center; */
/* 	padding-top:100px; */
/* 	font-size: 19px; */
/* } */

/* #butt{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	width: 150px; */
/* 	height: 40px; */
/* 	left: 140px; */
/* 	text-align:center; */
/* 	padding-top:170px; */
/* 	font-size: 15px; */
/* } */

/* #barbutt{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	width: 150px; */
/* 	height: 60px; */
/* 	padding-left: 110px; */
/* 	text-align:center; */
/* 	padding-top:160px; */
/* 	font-size: 15px; */
/* } */

/* #sbutton{ */
	
/* 	display: block; */
/* 	position:absolute; */
/* 	width: 130px; */
/* /* 	left:137px; */ 
/* 	height: 35px; */
/* 	color: white; */
/* 	border-radius:20px; */
/* 	background: #603813;   */
/* 	background: -webkit-linear-gradient(to right, #b29f94, #603813);   */
/* 	background: linear-gradient(black, black),linear-gradient(to right, #b29f94, #603813);  */
/*   	background-size: 0 3px, auto; */
/*   	background-repeat: no-repeat; */
/*   	background-position: center bottom; */
/*   	transition: all .2s ease-out; */
/*   	font-size: 13px; */
/* } */

/* #sbutton:hover { */
/*   background-size: 100% 3px, auto; */
/*   cursor: pointer; */
/* } */

/* #map { */
/*         height: 520px;  The height is 400 pixels */
/*         width: 760px;  The width is the width of the web page */
/*         left:600px; */
/*         top: 102px; */
/*         position:absolute; */
/*        } */
       
/* .checked { */
/*   color: orange; */
/* } */

/* .catalog{ */
/* 	display: inline-block; */
/* 	position: relative; */
/* 	max-height: 400px; */
/* 	width:25%; */
/* } */

/* #calender{ */
/* 	display: block; */
/* 	position:absolute;	 */
/* 	top: 120px; */
/* 	left: 190px; */
/* } */

#login-container{
	display: block;
	background-color:#7EFFD4;
	color:black;
	top: 220px;
	text-align: center;
	width:70%;
	margin: 0 auto;
	height: 300px;
	position: relative;
	z-index: 150;
}

#loginhead{	
	font-size: 22px;
	top:30px;
	display: inline-block;
	position: relative;
}

/* #selectorhead1{ */
/* 	position: absolute; */
/* 	display: block; */
/* 	width: 300px; */
/* 	padding-left: 0px; */
	
/* } */

/* #selectorhead2{ */
/* 	position: absolute; */
/* 	display: block; */
/* 	width: 300px; */
/* 	padding-left: 140px; */
	
/* } */

/* #selectorhead3{ */
/* 	position: absolute; */
/* 	display: block; */
/* 	width: 300px; */
/* 	padding-left: 280px; */
	
/* } */
/* #date{ */
/* 		position:absolute; */
/* 		display:block; */
/* 		width:300px; */
/* 		top: -30px; */
/* 		padding-left:40%; */
/* 		height: 30px; */
/* 		font-size: 16px; */
/* 		border: 0.5px transparent solid; */
/* 		border-radius: 20px; */
/* 	text-align: center; */
/* } */

/* .buttonnew{ */
	
/* 		position:absolute; */
/* 		display:block; */
/* 		width:150px; */
/* 		top: 200px; */
/* 		left:260px; */
/* 		color: white; */
/* 		background: black; */
/* 		font-size: 16px; */
/* 		height: 35px;	 */
/* 		border:none; */
/* 		border-radius:20px; */
/* 		background: #603813;   */
/* 	background: -webkit-linear-gradient(to right, #b29f94, #603813);   */
/* 	background: linear-gradient(black, black),linear-gradient(to right, #b29f94, #603813); */
/*   		background-size: 0 3px, auto; */
/*   		background-repeat: no-repeat; */
/*   		background-position: center bottom; */
/*   		transition: all .2s ease-out; */
/* } */

/* .buttonnew:hover { */
/*   background-size: 100% 3px, auto; */
/*   cursor: pointer; */
/* } */

/* #hours{ */
	
/* 		position:absolute; */
/* 		display:inline-block; */
/* 		width:700px; */
/* 		top: 80px; */
/* 		left:6px; */
/* } */

/* .hourbutton:hover { */
/*   background-size: 100% 3px, auto; */
/*   cursor: pointer; */
/* } */

/* #houra{ */
/* 	padding: 20px; */
/* 	display: inline-block; */
/* } */

/* .hourbutton{ */
/* 		color: white; */
/* 		font-size: 16px; */
/* 		height: 35px;	 */
/* 		border:none; */
/* 		border-radius:20px; */
/* 		background: #603813;   */
/* 		background: -webkit-linear-gradient(to right, #b29f94, #603813);   */
/* 		background: linear-gradient(black, black),linear-gradient(to right, #b29f94, #603813);  */
/*   		background-size: 0 3px, auto; */
/*   		background-repeat: no-repeat; */
/*   		background-position: center bottom; */
/*   		transition: all .2s ease-out; */
/* 		width: 150px; */
/* } */

/* #numberCircle1 { */
/*     border-radius: 50%; */
/*     width: 36px; */
/*     height: 36px; */
/*     padding: 8px; */
/* 	display: inline-block; */
/* 	top:135px; */
/* 	left: 430px; */
/* 	position:absolute; */
/*    	background: #603813;   */
/* 	background: -webkit-linear-gradient(to right, #b29f94, #603813);   */
/* 	background: linear-gradient(to right, #b29f94, #603813); */
/*     color: white; */
/*     font-size:20px; */
/*     text-align: center; */
/*     z-index: 200; */
/* } */
		
/* #numberCircle2 { */
/*     border-radius: 50%; */
/*     width: 36px; */
/*     height: 36px; */
/*     padding: 8px; */
/* 	display: inline-block; */
/* 	top:135px; */
/* 	left: 570px; */
/* 	position:absolute; */
/*     background: grey; */
/*     border: 1px solid lime; */
/*     color: #181818; */
/*     font-size:20px; */
/*     text-align: center; */
/*     z-index: 200; */
/* } */

/* #numberCircle3 { */
/*     border-radius: 50%; */
/*     width: 36px; */
/*     height: 36px; */
/*     padding: 8px; */
/* 	display: inline-block; */
/* 	top:135px; */
/* 	left: 710px; */
/* 	position:absolute; */
/*     background: grey; */
/*     border: 1px solid lime; */
/*     color: #181818; */
/*     font-size:20px; */
/*     text-align: center; */
/*     z-index: 200; */
/* } */

/* #numberCircle4 { */
/*     border-radius: 50%; */
/*     width: 36px; */
/*     height: 36px; */
/*     padding: 8px; */
/* 	display: inline-block; */
/* 	top:135px; */
/* 	left: 850px; */
/* 	position:absolute; */
/*     background: grey; */
/*     border: 1px solid lime; */
/*     color: #181818; */
/*     font-size:20px; */
/*     text-align: center; */
/*     z-index: 200; */
/* } */

/* div.ui-datepicker{ */
/*  font-size:17.2px;  */
/* } */

/* #middle{ */
/* 	display:block; */
/* 	position:absolute; */
/* 	left: 200px; */
/* 	top:150px; */
/* } */

#lgtbl{
	
	margin: 0 auto;
	width: 100%;
	text-align: center;
}


.email{
		position:relative;
		display:inline-block;
		top:70px;
		height: 25px;
		font-size: 16px;
}

.emailbox{
		position:relative;
		display:inline-block;
		width:60%;
		top:70px;
		height: 20px;
		font-size: 14px;
		border: 0.5px transparent solid;
		border-radius: 10px;
}


.password{
		position:relative;
		display:inline-block;
		top: 100px;
		height: 25px;
		font-size: 16px;
}

.passwordbox{
		position:relative;
		display:inline-block;
		width:60%;
		top: 100px;
		height: 20px;
		font-size: 14px;
		border: 0.5px transparent solid;
		border-radius: 10px;
}

.loginbutton{
		position:relative;
		display: inline-block;
		color: black;
		top:130px;
		font-size: 16px;
		height: 35px;	
		border:none;
		border-radius:20px;
		background: #603813;  
		background: -webkit-linear-gradient(to right, #b29f94, #603813);  
		background: linear-gradient(black, black),linear-gradient(to right, #b29f94, #603813); 
  		background-size: 0 3px, auto;
  		background-repeat: no-repeat;
  		background-position: center bottom;
  		transition: all .2s ease-out;
		width: 80px;
}

.loginbutton:hover {
  background-size: 100% 3px, auto;
  cursor: pointer;
}

#loginerror{
	
	display: block;
	position: relative;
}

.linklog{
	display: inline-block;
	position: relative;
	width: 100%;
	top:130px;
	font-size: 15px;
}

#profileHeader{
	display: block;
	font-size: 19px;
	background-color:#7EFFD4;
	left:0px;
    width: 100%;
	color: black;
	min-height: 70px;
	position: absolute;
	opacity: 100%;
	z-index: 1500;
	font-family: calibri;
	font-weight:400;
}

/* .buttonprofile{ */
/* 	color:white; */
/* 	padding-left:10px; */
/* 	font-size: 19px; */
/* 	height: 60px; */
/* 	width:250px; */
/* 	border: none; */
/* 	z-index:200; */
/* 	top: 20px; */
/* 	background: #603813;   */
/* 	background: -webkit-linear-gradient(to right, #b29f94, #603813);   */
/* 	background: linear-gradient(black, black),linear-gradient(to right, #b29f94, #603813);  */
/*   	background-size: 0 5px, auto; */
/*   	background-repeat: no-repeat; */
/*   	background-position: center bottom; */
/*   	transition: all .2s ease-out; */
/* } */

/* .buttonprofile:hover { */
/*   background-size: 100% 5px, auto; */
/*   cursor: pointer; */
/* } */

/* #plogo{ */
/* 	display:inline-block; */
/* 	position:fixed; */
/* 	padding-left:10px; */
/* 	font-size: 20px; */
/* /* 	top:-10px; */ 
/* } */

/* .plo{ */
	
/* 	width:220px; */
/* 	height:100px; */
/* } */

/* #pl{ */
/* 	display: inline-block; */
/* 	position: fixed; */
/* 	width:100%; */
/* 	color: black; */
/* 	text-align: right; */
/* 	right:20px; */
/* } */

#profilePic{
	display: block;
	position: relative;
	font-size: 30px;
}

#upload{
	display: block;
	position: relative;
	width: 35%;
	color:black;
	padding:2%;
	z-index:100000000;
	background: brown;
	border-radius: 30px;	
}

/* #Profile{ */
/* 	color: white; */
/* 	display: block; */
/* 	position: absolute; */
/* 	width: 630px; */
/* 	height:400px; */
/* 	top:170px; */
/* 	background-image: radial-gradient( circle farthest-corner at 47.4% 55%,  black 60%, transparent 90% ); */
/* 	font-size: 20px; */
/* 	border-radius: 10px; */
/* 	left: 10px; */
/* } */

#signup_form{
	color: white;
	display: block;
	position: relative;
	top:140px;
	width: 70%;
	margin: 0 auto;
	background: brown;
	font-size: 20px;
	border-radius: 30px;
}

#namelgo{
	
	display: block;
	position: relative;
	text-align: center;
	margin: 0 auto;
	width:100%;
	padding-bottom: 20px;
	font-weight: bold;
 } 

#emaillgo{
	
	display:block;
	position: relative;
	text-align: left;
	padding-bottom: 10px;
}

#jobslgo{
	
	display: block;
	position: relative;
	text-align: left;
	padding-bottom: 10px;
}
 
#birthlgo{
	
	display: block;
	position: relative;
	text-align: left;
	padding-bottom: 10px;
}

#logslgo{
	
	display: block;
	position: relative;
	text-align: left;
	padding-bottom: 10px;
}
.profilePicProps{
	
	width: 45px;
	height: 45px;
	border-radius: 50%;
}


/* #categorylgo{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:290px; */
/* 	text-align: left; */
/* } */

/* #addresslgo{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:220px; */
/* 	text-align: left; */
/* } */

/* #fnamelgo{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:5px; */
/* 	text-align: left; */
/* } */

/* #fnamebox{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:5px; */
/* 	left: 150px; */
/* } */

/* #lnamelgo{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:35px; */
/* 	text-align: left; */
/* } */

/* #lnamebox{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:35px; */
/* 	left: 150px; */
/* } */

/* #contactelgo{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:65px; */
/* 	text-align: left; */
/* } */

/* #contactebox{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:65px; */
/* 	left:150px; */
/* } */

/* #categoryelgo{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:245px; */
/* 	text-align: left; */
/* } */

/* #categoryebox{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:245px; */
/* 	left: 150px; */
/* } */

/* #addresselgo{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:95px; */
/* 	text-align: left; */
/* } */

/* #addressebox{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:95px; */
/* 	left: 150px; */
/* } */

/* #citylgo{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:125px; */
/* 	text-align: left; */
/* } */


/* #citybox{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:125px; */
/* 	left: 150px; */
/* } */

/* #statelgo{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:155px; */
/* 	text-align: left; */
/* } */

/* #statebox{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:155px; */
/* 	left: 150px; */
/* } */

/* #countrylgo{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:185px; */
/* 	text-align: left; */
/* } */

/* #countrybox{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:185px; */
/* 	left: 150px; */
/* } */

/* #passwordlgo{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:215px; */
/* 	text-align: left; */
/* } */

/* #passwordbox{ */
	
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	padding: 20px; */
/* 	top:215px; */
/* 	left: 150px; */
/* } */

/* .updatebutton{ */
	
/* 	display: block; */
/* 	position: absolute; */
/* 	top: 283px; */
/* 	padding: 20px; */
/* } */

.signupbutton{
	
	width: 100px;
	height: 35px;
	color: black;
	border:none;
	border-radius:20px;
	background: #603813;  
	background: -webkit-linear-gradient(to right, #b29f94, #603813);  
	background: linear-gradient(black, black),linear-gradient(to right, #b29f94, #603813); 
  	background-size: 0 3px, auto;
  	background-repeat: no-repeat;
  	background-position: center bottom;
  	transition: all .2s ease-out;
}

.signupbutton:hover {
  background-size: 100% 3px, auto;
  cursor: pointer;
}

#profileContainer{
	
	width:45% !important;
	padding-bottom: 40px;
	padding-top: 30px;
	padding-left: 25px;
	padding-right:25px;
	display: block;
	float:left;
	position: relative;
	border:2px solid white;
	background-color: #262882;
}

.edit-profile-form{
	
	width:50%;
	margin: 0 auto;
	display: block;
	position: relative;
	top: 120px;
}

#courseHead{
	font-size: 20px;
	font-weight: bold;
	display: block;
	width: 90%;
	margin: 0 auto;
}

#leftContainer{
	display: block;
	float: left;
	width:60%;
	border:1px solid white;
}

#rightContainer{
	display: block;
	float: right;
	width:38%;
	border:1px solid white;
}

#courseContainer{
	
	width:90% ;
	padding-top: 100px;
	display: block;
	margin: 0 auto;
	position: relative;
	background-color: #181818;
}

/* #formd{ */
/* 	width: 250px; */
/* 	border: 0.5px solid black; */
/* 	border-radius: 20px; */
/* 	height: 18px; */
	
/* } */

/* #deleteForm{ */
/* 	background: white; */
/* 	position: absolute; */
/* 	z-index: 100000; */
/* 	display: block; */
/* 	border: black; */
/* 	width: 250px; */
/* 	height: 80px; */
/* 	left: 730px; */
/* 	top: 65px; */
/* 	border-radius: 30px; */
/* 	font-size: 15px; */
/* 	color: black; */
/* 	padding:12px; */
/* } */

/* #vabutt{ */
	
/* 	display: block; */
/* 	position: absolute; */
/* 	top: 150px; */
/* 	left:300px; */
/* } */

/* #appointmentE{ */
/* 	color: white; */
/* 	display: block; */
/* 	position: absolute; */
/* 	width: 690px; */
/* 	height:460px; */
/* 	top:140px; */
/* 	background-image: radial-gradient( circle farthest-corner at 47.4% 55%,  black 20%, transparent 90% ); */
/* 	font-size: 19px; */
/* 	border-radius: 10px; */
/* 	left: 650px; */
/* 	overflow-y: scroll hidden; */
/* 	overflow-x:hidden;   */
	
/* } */

/* #apd{ */
/* 	padding-top: 20px; */
/* 	height:35px; */
/* 	display: block; */
/* 	position: absolute; */
/* 	text-align: center; */
/* 	width: 690px; */
/* 	background-image: radial-gradient( circle farthest-corner at 47.4% 55%,  transparent 60%, #603813 90% ); */
/* } */

/* #apd1{ */
	
/* 	display: block; */
/* 	position:relative; */
/* 	top:100px; */
/* 	text-align: center; */
/* 	width: 690px; */
/* 	height: 85px; */
/* 	background-image: radial-gradient( circle farthest-corner at 47.4% 55%,  transparent 60%, #603813 90% ); */
/* /* 	border: solid 1px white; */ */
/* } */

/* #avbty{ */
	
/* 	display: block; */
/* 	position: absolute; */
/* 	top: 170px; */
/* 	left:30px; */
/* 	background-image: radial-gradient( circle farthest-corner at 47.4% 55%,  black 60%, transparent 90% ); */
/* 	height: 300px; */
/* } */

/* #day{ */
	
/* 	background-image: radial-gradient( circle farthest-corner at 47.4% 55%,  transparent 20%, #603813 90% ); */
/* 	height:50px; */
/* } */

/* #day1{ */
/* 	height: 50px; */
/* 		width: 190px; */
/* } */

/* #hours1{ */
	
/* 	height:50px; */
/* } */

/* #hour1{ */
/* 	height:50px; */
/* 	width: 190px; */
/* } */

/* #ality{ */
/* 	display: block; */
/* 	position: absolute; */
/* 	height: 350px; */
/* 	width: 900px; */
/* 	left: 300px; */
/* 	background-image: radial-gradient( circle farthest-corner at 47.4% 55%,  black 60%, transparent 90% ); */
/* 	text-align: center; */
/* } */

/* #aleft{ */
/* 	display: inline-block; */
/* 	position: relative; */
/* 	width: 450px; */
/* 	height: 50px; */
/* 	left:-310px; */
/* } */

/* #aright{ */
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	width: 450px; */
/* 	left:220px; */
/* 	height: 50px; */
/* } */

#leftSgn{
	display: inline-block;
	position: relative;
	width: 30%;
	
}
#rightSgn{
	display: inline-block;
	position: relative;
	width: 55%;
}

/* #ANB */
/* { */
/* 	color: red; */
/* } */

/* #ProfileBSGN{ */
/* 	color: white; */
/* 	display: block; */
/* 	position: absolute; */
/* 	width: 630px; */
/* 	height:490px; */
/* 	top:130px; */
/* 	background-image: radial-gradient( circle farthest-corner at 47.4% 55%,  black 60%, transparent 90% ); */
/* 	font-size: 20px; */
/* 	border-radius: 10px; */
/* 	left: 10px; */
/* } */

/* #leftrev{ */
/* 	display: block; */
/* 	position:relative; */
/* 	width: 150px; */
/* 	height: 23px; */
/* 	text-align: left; */
/* 	padding-left: 30px; */
/* } */

/* #rightrev{ */
/* 	display: block; */
/* 	position: relative; */
/* 	width: 250px; */
/* 	height: 23px; */
/* 	text-align:left; */
/* 	left:250px; */
/*  }  */